name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{ cron: "0 * * * *" }]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: { branches: ["master", "main"] }
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: faisalsayed10
          template: classic
          base: header, activity, community, repositories
          config_timezone: Asia/Kolkata
          
          plugin_introduction_title: yes
          plugin_introduction: yes
          plugin_isocalendar: yes
          plugin_languages: yes
          plugin_notable: no
          plugin_achievements: yes
          plugin_achievements_secrets: yes
          plugin_achievements_threshold: C
          plugin_achievements_limit: 6
          plugin_tweets: no          
          plugin_wakatime: no
